@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #04091b;
}

body {
    background-color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}